body{
  background-image: url('/public/weather.jpg');
  background-size: cover;
}
.container {
  max-width: 60%;
  margin: 20px auto;
}
.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  column-gap: 50px;
}
