body{
  background-image: url('/public/img/weather.jpg');
  background-size: auto;
  background-repeat: no-repeat;
}
.container {
  max-width: 95%;
  margin: 20px auto;
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  row-gap: 10px;
  margin-top: 20px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1025px) {
  .container{
    max-width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .container{
    max-width: 70%;
  }
}
